.page-wraper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 100vh;
}

.header {
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
}

.header-icon {
	color: var(--color-light);
	font-size: var(--font-title);
}

.header-title {
	color: var(--color-light);
	font-size: var(--font-title);
	font-weight: bold;
	margin-left: calc(var(--margin) * 4);
}

.content {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 5%;
}

.content-img {
	flex: 3;
}

.content-text {
	flex: 2;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.form-title {
	color: var(--color-dark);
	font-size: var(--font-title);
	font-weight: bold;
	text-align: center;
}

.footer {
	margin-top: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-text {
	color: var(--color-dark);
}

.footer-heart {
	color: var(--color-primary);
}